{% extends "base/base.html" %}
{% load crispy_forms_tags %}

   {% block title %}
    <title>Applicant-Home</title>
   {% endblock title %}

    {% block body %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #082032;"> 
          
        <a class="navbar-brand" style="color: white; font-weight: bold; padding:0.2rem" href="{% url 'index' %}">HRMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="bi bi-list mobile-nav-toggle" style="color: white;"></i></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <div class="navbar-nav">
            <a class="custom-link" style="color: white;" href="{% url 'register' %}">Register</a>
            <a class="custom-link" style="color: white;" href="{% url 'login' %}">Login</a>
         </div>
           <ul class="navbar-nav  ml-auto">
              <li class="nav-item mr-5">
                    <div class="dropdown">
                       <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:none;border:none;color: white;">
                        {{ user.first_name | title }} {{ user.middle_name | title }} {{ user.last_name | title }}
                       </button>
                       <div class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                       <a class="dropdown-item" href="{% url 'view_applicant_profile' %}">Profile</a>
                       <a class="dropdown-item" href="#">Another action</a>
                       <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                       </div>
                    </div>
              </li>
              
           </ul>
    </div>
    </nav>
 
    <!-- confirmation text  -->
   <div class="row mt-5">
    <div class="job-card mt-5">
        <div class="col-9" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
          <div class="card" style="border: none;">
            <div class="card-body">
              <h5 class="card-title">Apply Confirmation</h5>
              <p class="card-text">Are you sure you want to apply for the profile <b>{{job.job_title }}</b>?</p>
              <a href="{% url 'apply_now' job.id %}" class="btn btn-success">Yes </a>
              <a href="{% url 'job-detail' job.id %}" class="btn btn-danger ml-2">No </a>
            </div>
          </div>
        </div>
      </div> 
   </div>
    {% endblock body %}