{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
   {% block title %}
    <title>Applicant-Profile</title>
   {% endblock title %}

    {% block body %}

    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #082032;"> 
          
        <a class="navbar-brand" style="color: white; font-weight: bold; padding:0.2rem" href="{% url 'jobs' %}">HRMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="bi bi-list mobile-nav-toggle" style="color: white;"></i></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav">
             <a class="custom-link" style="color: white;" href="{% url 'jobs' %}">Home</a>
             <a class="custom-link" style="color: white;" href="{% url 'applied' %}">Your Applications</a>
             <a class="custom-link" style="color: white;" href="{% url 'interviews' %}">Interviews</a>
          </div>
           <ul class="navbar-nav  ml-auto">
              <li class="nav-item mr-5">
                    <div class="dropdown">
                       <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:none;border:none;color: white;">
                         {{ user.first_name | title }} {{ user.middle_name | title }} {{ user.last_name | title }}
                       </button>
                       <div class="dropdown-menu mt-3" aria-labelledby="dropdownMenuButton" style="box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                       <a class="dropdown-item" href="{% url 'view_applicant_profile' %}">Profile</a>
                       <a class="dropdown-item" href="{% url 'applicant-password-change' %}">Change Password</a>
                       <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                       </div>
                    </div>
              </li>
           </ul>
    </div>
    </nav>

<div class="pt-5 mt-5">
    <center>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} mt-2">
            {{ message }}
        </div>
        {% endfor %}
          {% endif %}
          <h5 style="color:#e43c5c;">Change Password</h5>
        </center>
      
        <div class="container d-flex flex-column align-items-center mt-3" >
                <form method="POST" enctype="multipart/form-data" class="pl-5 pr-5 pt-3 pb-3" style=" box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    {% csrf_token %}
                {{ form | crispy}}
                <center>
                <button type="submit" class="custom-style-button">Change</button>
            </center>
            </form>
            </div>
    
</div>

    {% endblock body %}

