{% extends "base/base.html" %}


   {% block title %}
    <title>Applicant-Profile</title>
   {% endblock title %}

    {% block body %}

    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #082032;">
        
      <a class="navbar-brand" style="color: white; font-weight: bold; padding:0.2rem" href="{% url 'index' %}">HRMS</a>

    </nav>

        <div class="container" style="width: 50%;margin-top: 5rem;">
            <h2>Your Profile</h2> 
                <div class="box-1 mt-3" style="display:block;">
                  {% if messages %}
                  {% for message in messages %}
                     <div class="alert alert-danger">{{message}}</div>
                  {% endfor%}
              {% endif %}
                  <form action="{% url 'save_applicant_profile' %}" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="" name="addressline1" required></div>
                        <div class="col-md-12"><label class="labels">Place</label><input type="text" class="form-control"  placeholder="" name="place" required></div>
                        <div class="col-md-12"><label class="labels">City</label><input type="text" class="form-control"  placeholder="" name="city" required></div>
                        <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="" name="state" required></div>
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="number" class="form-control" placeholder="" name="mobile"  required></div>
                        <div class="col-md-12"><label class="labels">Date of Birth</label><input type="date" class="form-control" placeholder="" name="dob" required></div>
                        <div class="col-md-12"><label class="labels">Postcode</label><input type="number" class="form-control" placeholder="" name="pin"  required></div>
                        <label class="col-md-12 labels">Gender</label>
                        <div class="row ml-2 mt-3 mb-3">
                            <div class="col-md-4">
                              <input type="radio"   placeholder="" name="gender" value="m" required>
                              <label class="labels">Male</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio"  placeholder="" name="gender" value="f" required>
                                <label class="labels">Female</label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio"   placeholder="" name="gender" value="o" required>
                                <label class="labels">Others</label>
                              </div>
                        </div>

                        <div class="col-md-12"><label class="labels">CV</label>
                          {{ cv }}
                        </div>
                        <center><button type="submit" class="custom-style-button mt-3">Save Profile</button></center>
                      </form>
                </div>
        </div>

    {% endblock body %}

