{% extends "base/base.html" %}
{% load crispy_forms_tags %}

   {% block title %}
    <title>Login</title>
   {% endblock title %}

    {% block body %}
    <center>
            {% if messages %}
                {% for message in messages %}
                   <div class="alert alert-success">{{message}}</div>
                {% endfor%}
            {% endif %}
        <div class="box-boxshadow">
            <h2>Login</h2>
            <div class="form-group">
                <form method="POST">

                    {% csrf_token %}
                    {{ form | crispy }}

                <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    
    {% endblock body %}

