{% extends "base/base.html" %}
{% load crispy_forms_tags %}

   {% block title %}
    <title>Login</title>
   {% endblock title %}

    {% block body %}
   
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #082032;">
        
            <a class="navbar-brand" style="color: white; font-weight: bold; padding:0.2rem" href="{% url 'index' %}">HRMS</a>

        </nav>
        <center>
        <div class="box-1 rounded w-25" style="margin-top:5rem; min-width: 400px;" > 
            <div class="mb-3">
                <h2 >Login</h2>
            </div> 
            <div class="form-style mt-2">
                <form method="POST">

                    {% csrf_token %}
                    {{ form | crispy }}

                <button type="submit" class="custom-style-button mt-2" style="width: 100%;">Login</button>
                </form>
               
                <div class="text-muted mt-2">
                    Not registered?
                    <a href="{% url 'register' %}">Register</a>
                </div>
                <div class="text-muted mt-2">
                    <a href="{% url 'password_reset' %}">Fortgot Password?</a>
                </div>

            </div>
        </div>
    </center>
    {% endblock body %}

