{% extends "base/base.html" %}
{% load crispy_forms_tags %}

   {% block title %}
    <title>Register</title>
   {% endblock title %}

    {% block body %}
    <center>
        <div class="box">
            <h2>Regsitration</h2>
            <div class="form-group">
                <form method="POST">

                    {% csrf_token %}
                    {{ reg_form | crispy }}

                <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    
    {% endblock body %}

