{% extends "employees/employee-home.html" %}
{% load crispy_forms_tags %}
{% block content %} 
<center>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} mt-2">
        {{ message }}
    </div>
    {% endfor %}
      {% endif %}

    </center>
  
    <div class="container d-flex flex-column align-items-center mt-2" >
            <form method="POST" enctype="multipart/form-data" class="pl-5 pr-5 pt-2 pb-2" style=" box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                {% csrf_token %}
            {{ form | crispy}}
            <center>
            <button type="submit" class="custom-style-button">Apply Leave</button>
        </center>
        </form>
        </div>

{% endblock content %}

