{% extends "employees/employee-home.html" %}

{% block content %} 

<center>
    {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} mt-2">
              {{ message }}
          </div>
          {% endfor %}
   {% endif %}

   <h5 class="mb-3" style="color: #e43c5c;"> Attendance View </h5>

    <form method="POST" class="mt-2">
        {% csrf_token %}
        <select name="shift" class="dropdown-style">
            <option value="morning" {% if shift == 'morning'%}selected{% endif %}>Morning Shift</option>
            <option value="night"{% if shift == 'night'%}selected{% endif %}>Night Shift</option>
        </select>
        <button type="submit" class="custom-style-button" style="border-radius:20px">Show</button>
    </form>
</center>
<form method="POST" action="{% url 'selected_attendance' %}">
    {% csrf_token %}
    <input type="hidden" name="regularize" id="regular">
<div class="row mr-auto mb-3"><button type="submit" class=" ml-auto custom-style-button" style="border-radius: 20px"><i class="bi bi-calendar-check mr-1"></i>Regularize Attendance</button></div>
</form>

{% if attendance|length > 0 %}
        <div >
        <table class="jtable" id='tableid2'>
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Entry Time</th>
                <th>Exit Time</th>
                <th>Shift</th>
            </thead>
            <tbody>
                {% for attendance in attendance %}
                <tr>
                    <td> {{ attendance.id }}</td>
                    <td> {{ attendance.attendance_date }}
                        {% if attendance.holiday == True %}
                        <div class="bg-info" style="display:inline-block; padding:0.1rem 0.25rem;border-radius: 0.2rem;">
                            Holiday
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if attendance.entry_time == None %}
                        <div style="color: #e43c5c;">Missing</div>
                        {% else %}
                        {{ attendance.entry_time }}
                        {% endif %}
                    </td>
                    <td>
                        {% if attendance.exit_time == None %}
                        <div style="color: #e43c5c;">Missing</div>
                        {% else %}
                        {{ attendance.exit_time }}
                        {% endif %}
                    </td>
                    <td>{{ attendance.shift|title}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
{%else%}
        <center>
            <p class="alert alert-info mt-5"> You Haven't marked any shifts </p>
        </center>
{% endif %}


{% endblock content %}

