{% extends "base/base.html" %}
{% load static %}
   {% block title %}
     <!-- dashobard style  -->
     <link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
   <title>
    
         Employee-Home
  </title>
   {% endblock title %}

{% block body %}
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>HRMS</h3>
            <hr>
        </div>
        <ul class="list-unstyled components">
            <li> <a href="{% url 'employee-home' %}">Dashboard</a> </li>
            <li> <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Attendance</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li> <a href="{% url 'morning_shift' %}">Morning Shift</a> </li>
                    <li> <a href="#">Night Shift</a> </li>
                    <li> <a href="#">Attendance View</a> </li>
                </ul>
            </li>
            <li> <a href="#">Users</a> </li>
            <li> <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Subscribers</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li> <a href="#">Active</a> </li>
                    <li> <a href="#">Idle</a> </li>
                    <li> <a href="#">Non Active</a> </li>
                </ul>
            </li>
            <li> <a href="#">Timeline</a> </li>
            <li> <a href="#">Live Chat</a> </li>
            <li> <a href="#">Likes</a> </li>
            <li> <a href="#">Comments</a> </li>
            <li> <a href="{% url 'logout' %}">Logout</a> </li>
        </ul>
     
    </nav>
    <div class="content" id="navcontent">
        <nav class="navbar navbar-expand-lg navbar-light bg-light"> <button type="button" id="sidebarCollapse" style="border:none; background-color:#f8f9fa;" > <i class="bi bi-list mobile-nav-toggle" style="color: black;"></i> </button> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3"> <a href="{% url 'view_employee_profile' %}">{{ user.first_name|title}} {{ user.middle_name|title}} {{ user.last_name|title}} </a></li>
                    <li class="nav-item mr-2"> <a href="{% url 'view_employee_profile' %}"><img src="{{ user.employeeprofile.photo.url }}" class="rounded-circle" style="border:1px solid #082032;" width="40px" height="40px"> </a> </li>
                    
                </ul>
            </div>
        </nav>

        {% block content %} {% endblock content %}
        
    </div>

     

</div>

{% endblock body %}