{% extends "employees/employee-home.html" %}

{% block content %} 
<center>
    <h5 style="color: #e43c5c;">Leave Details</h5>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} mt-2">
        {{ message }}
    </div>
    {% endfor %}
      {% endif %}
</center>

<!-- apply leave  -->
<div class="row mr-auto mb-3"><a href="{% url 'apply_leave' %}" class=" ml-auto custom-style-button" style="border-radius: 20px"><i class="bi bi-calendar2-plus mr-1"></i> Apply Leave</a></div>

{% if leaves|length > 0 %}
        <table id='tableid1' class="jtable">
            <thead>
                <th>Leave Type</th>
                <th>From</th>
                <th>From Session</th>
                <th>To</th>
                <th>To Session</th> 
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for leave in leaves %}
                <tr>
                    <td>{{ leave.leave_type|title }}</td>
                    <td>{{ leave.from_date }}</td>
                    <td>{{ leave.from_session|title}}</td>
                    <td>{{ leave.to_date }}</td>
                    <td>{{ leave.to_session|title}}</td>

                    <!-- for status colors  -->
                        {% if leave.approval == 'approved' %}
                        <td><div class="bg-success" style="display:inline-block; padding:0.1rem 0.25rem;border-radius: 0.2rem;">
                                    {{leave.approval|title}}
                            </div>
                        </td>
                        {% elif leave.approval == 'rejected' %}
                        <td><div class="bg-danger" style="display:inline-block; padding:0.1rem 0.25rem;border-radius: 0.2rem;">
                                    {{leave.approval|title}}
                            </div>
                        </td>
                        {% else %}
                        <td><div class="bg-warning" style="display:inline-block; padding:0.1rem 0.25rem;border-radius: 0.2rem;">
                            {{leave.approval|title}}
                        </div>
                        </td>
                        {% endif %}


                 <td><a href="{{ leave.get_absolute_url }}"class="custom-style-button">View</a></td>
                </tr>

                {% endfor %} 
            </tbody>
        </table>
{% else %}
<center>
    <p class="alert alert-info mt-5"> No Leave Requests </p>
</center>
{% endif %}

{% endblock content %}

