{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
     <!-- css  link-->
     <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    

     <!-- bootstrap icons  -->
     <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

     <!-- logo  -->
     <link rel = "icon" href = "{% static 'assets/img/logo.png' %}">

      <!-- custom css link -->
     <link href="{% static 'customcss/custom-style.css' %}" rel="stylesheet">

     <!-- circular progress bar  -->

     <link href="{% static 'customcss/circular-progress.css' %}" rel="stylesheet">


      <!-- datatable  -->

      <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}"/>

    
        {% block title %} {% endblock title %}
            
        
</head>
<body>

        {% block body %}   {% endblock body %}

     

     <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
     
     <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
     
     <script src="{% static 'dashboard/js/dash.js' %}"></script>
     
     <!-- datatable  -->

     <script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
     <script>
        $(document).ready(function(){
        $('#tableid1').DataTable({
        "aaSorting": []
        });
        });
     </script>

     <script>
        $(document).ready(function(){
        $('#tableid2').DataTable({
        "aaSorting": []
        });


        });  
     </script>

     <!-- for static modal  -->
     <script>
      $(document).ready(function(){
          $("#myModal").modal('show');
      });
  </script>

<!-- for selecting row and getting first value  -->
<script type="text/javascript">
  $(document).ready(function() {
     var table = $('#tableid2').DataTable();
  
     $('#tableid2 tbody').on( 'click', 'tr', function () {
         if ( $(this).hasClass('selected') ) {
             $(this).removeClass('selected');
         }
         else {
             table.$('tr.selected').removeClass('selected');
             $(this).addClass('selected');
         }

         var currentRow=$(this).closest("tr"); //get current row
         var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
         document.getElementById("regular").value = col1
         
     } );
     
 } );
 </script>
 
 <script>
  $(function () {
  $('[data-toggle="popover"]').popover()
})
 </script>
 {% block scr %} {% endblock scr %}
</body>
</html>