{% extends "admin/admin-home.html" %}
{% load crispy_forms_tags %}
{% block page %} 
 <!-- Modal  for edit -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
 data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="m-2">
            <a href="/media/{{ attendance.user.employeeprofile.photo }}"><img src="{{ attendance.user.employeeprofile.photo.url }}" class="rounded-circle mr-1"  width="40px" height="40px"> </a> 
      
            <a href="{% url 'employee_detail' attendance.user.pk %}"><b>{{ attendance.user.first_name|title}} {{ attendance.user.middle_name|title}} {{ attendance.user.last_name|title}}</b></a>
        </div>

        <div class="modal-header">  
          <h5 class="modal-title" id="exampleModalLongTitle">Add Attendance</h5>
          <a href="{% url 'exit_time_missing' %}" class="close">
            <span aria-hidden="true">&times;</span>
          </a>
        </div>
        <div class="modal-body">
            <div>Attendance Date : <b>{{ attendance.attendance_date }}</b></div>
            <div class="mb-2">Shift : <b>{{ attendance.shift | title }}</b></div>
          <form method="POST">
              {% csrf_token %}
             {{ form | crispy }}
        </div>
        <div class="modal-footer">
          <a href="{% url 'exit_time_missing' %}" class="btn btn-secondary">Close</a>
          <button type="submit" class="custom-style-button">Add</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal  -->

{% endblock page %}

