{% extends "admin/admin-home.html" %}
{% block page %} 
<div class="col-md-12">



    <div class=" row d-flex justify-content-between">

        
        <div class="card-block c-shadow pt-3 pb-2 m-2" style="width: 16rem;">
            <div class="d-flex align-items-center justify-content-center">
                <div class="dash-icon p-2"><i class=" rounded-circle p-3  bi bi-briefcase"></i></div>
                <div class="stat-content ml-2 pr-0 pl-0">Employees</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="stat-content1">{{ employees|stringformat:"02d" }}</div>
            </div>
        </div>

        <div class="card-block c-shadow pt-3 pb-2 m-2" style="width: 16rem;">
            <div class="d-flex align-items-center justify-content-center">
                <div class="dash-icon1 p-2"><i class=" rounded-circle p-3  bi bi-people"></i></div>
                <div class="stat-content ml-2 pr-0 pl-0">Applicants</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="stat-content1">{{ applicants|stringformat:"02d" }}</div>
            </div>
        </div>
        
        <div class="card-block c-shadow pt-3 pb-2 m-2" style="width: 16rem;">
            <div class="d-flex align-items-center justify-content-center">
                <div class="dash-icon2 p-2"><i class=" rounded-circle p-3  bi bi-building"></i></div>
                <div class="stat-content ml-2 pr-0 pl-0">Departments</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="stat-content1">{{ department|stringformat:"02d" }}</div>
            </div>
        </div>
        
        <div class="card-block c-shadow pt-3 pb-2 m-2" style="width: 16rem;">
            <div class="d-flex align-items-center justify-content-center">
                <div class="dash-icon4 p-2"><i class=" rounded-circle p-3  bi bi-person-badge"></i></div>
                <div class="stat-content ml-2 pr-0 pl-0">Designations</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="stat-content1">{{ designations|stringformat:"02d" }}</div>
            </div>
        </div>
        
        <div class="card-block c-shadow pt-3 pb-2 m-2" style="width: 16rem;">
            <div class="d-flex align-items-center justify-content-center">
                <div class="dash-icon3 p-2"><i class=" rounded-circle p-3  bi bi-person-workspace"></i></div>
                <div class="stat-content ml-2 pr-0 pl-0">Interviews</div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="stat-content1">{{ interviews|stringformat:"02d" }}</div>
            </div>
        </div>


    </div>


    <div class=" row  mt-2">
        <div class="col-md-6 c-shadow">
            <div class="d-flex justify-content-between align-items-center" >
                <div class="p-2 "> <span class="pr-2" style="color: #5977f0;"><b>Leave Requests Pending </b></span> <span class="rounded p-1 text-white" style="background-color: #525153;"><b>{{ leave_count|stringformat:"02d" }}</b></span></div> 
                <div class="custom-style-button pt-0 pb-0 pl-1 pr-1"> <a href="{% url 'admin_view_leaves' %}">View</a></div>         
            </div>
            <div class="p-2">
                <b>Recent Leaves</b>
            </div>
            {% if leaves|length > 0 %}
            {% for leave in leaves %}
                <div class="d-flex align-items-center mt-1 mb-2 pt-2" style="border-top: 1px solid rgb(222, 219, 219);">

                    <div class="col-md-6">
                        <a href="/media/{{ leave.user.employeeprofile.photo }}"><img src="{{ leave.user.employeeprofile.photo.url }}" class="rounded-circle mr-1"  width="40px" height="40px"> </a> 

                        <a href="{% url 'employee_detail' leave.user.pk %}"><b>{{ leave.user.first_name|title}} {{ leave.user.middle_name|title}} {{ leave.user.last_name|title}}</b></a>
                    </div>
                    <div class="col-md-3">{{ leave.leave_type | title}}</div>
 
                    {% if leave.approval == 'approved' %} 
                        <div class="text-success text-bolder col-md-3 text-right">{{ leave.approval | title}} </div>

                    {% elif leave.approval == 'rejected' %} 
                        <div class="text-danger col-md-3 text-right">{{ leave.approval | title}} </div>

                    {% else %} 
                        <div class="text-warning col-md-3 text-right ">{{ leave.approval | title}} </div>
                    {% endif %}
                   

                </div>
            {% endfor %}
            {% else %}
            {% for i in "123" %}
                <div class="text-info p-2">Not Available</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="ml-3 c-shadow  pl-2 pr-2">
           <div class="mt-1 pb-2" style="color: #5977f0;;border-bottom: 1px solid rgb(222, 219, 219);"> <b>{% now "F"%} {% now "Y" %}</b></div>
            <div class="d-flex justify-content-between align-items-center mt-4">
                <div class="mr-5"><b>Leave Requests</b></div>
                <div class="rounded pl-1 pr-1 "><b>{{mon_leave|stringformat:"02d"}}</b></div>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-4 pb-2" style="border-bottom: 1px solid rgb(222, 219, 219);">
                <div class="mr-5"><b>Approved Requests</b></div>
                <div class="rounded pl-1 pr-1 "><b>{{mon_app|stringformat:"02d"}}</b></div>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-4">
                <div class="mr-5"> <b>Regularization Requests</b></div>
                <div class="rounded pl-1 pr-1 "><b>{{reg_mon|stringformat:"02d"}}</b></div>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-4">
                <div class="mr-5"><b>Approved Requests</b></div>
                <div class="rounded pl-1 pr-1"><b>{{reg_app|stringformat:"02d"}}</b></div>
            </div>

        </div>

        <div class="ml-3 c-shadow d-flex  justify-content-center pl-2 pr-1 " >
            <div class="mt-1 d-flex flex-column justify-content-between">
               <div><b style="color:#5977f0">Attendance:</b> <span class="p-1 rounded text-white bg bg-success">{{att_count}}/{{employees}}</span></div>
            </div>
            <div class="circular-progress">
                <div class="value-container">0%</div>
            </div>
            
        </div>

    </div>


    <div class=" row  mt-3">
        <div class="col-md-6 c-shadow">
            <div  class="d-flex justify-content-between align-items-center">
                <div class="p-2"> <span class="pr-2" style="color: #5977f0;;"><b>Regularization Requests Pending </b></span> <span class="rounded p-1 text-white" style="background-color: #525153;"><b>{{ regular_count|stringformat:"02d" }}</b></span> </div>   
                <div class="custom-style-button pt-0 pb-0 pl-1 pr-1"> <a href="{% url 'admin_regularize' %}">View</a></div>         
            </div>
            <div class="p-2">
                <b>Recent Requests</b>
            </div>
            {% if regular|length > 0 %}
            {% for regular in regular %}
                <div class="d-flex align-items-center mt-1 mb-2 pt-2" style="border-top: 1px solid rgb(222, 219, 219);">

                    <div class="col-md-6">
                        <a href="/media/{{ regular.user.employeeprofile.photo }}"><img src="{{ regular.user.employeeprofile.photo.url }}" class="rounded-circle mr-1"  width="40px" height="40px"> </a> 

                        <a href="{% url 'employee_detail' regular.user.pk %}"><b>{{ regular.user.first_name|title}} {{ regular.user.middle_name|title}} {{ regular.user.last_name|title}}</b></a>
                    </div>
                    <div class="col-md-3">{{ regular.date }}</div>

                    {% if regular.status == 'approved' %} 
                        <div class="text-success text-bolder col-md-3 text-right">{{ regular.status | title}} </div>

                    {% elif regular.status == 'rejected' %} 
                        <div class="text-danger col-md-3 text-right">{{ regular.status | title}} </div>

                    {% else %} 
                        <div class="text-warning col-md-3 text-right">{{ regular.status | title}} </div>
                    {% endif %}
                   

                </div>
            {% endfor %}
            {% else %}
            {% for i in "123" %}
                <div class="text-info p-2">Not Available</div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class=" c-shadow">
                <div  class="d-flex justify-content-between align-items-center pr-2">
                    <div class="p-2"> <span class="pr-2" style="color: #5977f0;"><b>Jobs</b></span> <span class="rounded p-1 text-white" style="background-color: #525153;"><b>{{ job_count|stringformat:"02d" }}</b></span> </div>   
                    <div class="custom-style-button pt-0 pb-0 pl-1 pr-1"> <a href="{% url 'view_all_jobs' %}">View</a></div>         
                </div>
                <div class="pl-2 pb-1">
                    <b>Recent Jobs</b>
                </div>
                {% if jobs|length > 0 %}
                {% for job in jobs %}
                    <div class="d-flex justify-content-between align-items-center mt-1  p-2" style="border-top: 1px solid rgb(222, 219, 219);">
                        <div class="col-md-6"><b><span style="color:#e43c5c"><i class="bi bi-arrow-right-circle-fill"></i></span> {{ job.job_title }}</b></div>
                        <div class="col-md-3">{{ job.withdraw_date }}</div>
                        <div class="col-md-3 text-right">{{ job.location }}</div>
                    </div>
                {% endfor %}
                {% else %}
                {% for i in "123" %}
                    <div class="text-info p-2">Not Available</div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                <div class="c-shadow  mt-3 ml-3 p-2" style="width:21rem;">
                    <div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid rgb(222, 219, 219);color:#5977f0;">
                        <div class="pb-2"><b>Upcoming Interview</b> </div> 
                        <div class="custom-style-button pt-0 pb-0 pl-1 pr-1"> <a href="{% url 'check_schedule' %}">View</a></div>
                    </div> 
                    <div class="mt-2">Date :   {% if up_int %}  <b>{{ up_int.interview_date}}</b> {% else %}<span class="text-danger">None</span>{% endif %}</div>
                </div>

                <div class="c-shadow   mt-3 ml-2 p-2" style="width:21rem;">
                    <div class="d-flex justify-content-between align-items-center" style="border-bottom: 1px solid rgb(222, 219, 219);color:#5977f0;">
                        <div class="pb-2"><b>Upcoming Holiday</b> </div> 
                        <div class="custom-style-button pt-0 pb-0 pl-1 pr-1"> <a href="{% url 'holidays' %}">View</a></div>
                    </div> 
                    <div class="mt-2">Date : {% if holiday %}  <b>{{ holiday.date}}</b> {% else %}<span class="text-danger">None</span>{% endif %}</div>
                </div>
    
            </div>
        </div> 


              
    </div>



</div>

{% endblock page %}

{% block scr %}
 <!-- progress bar animation  -->
    <script>

        let progressBar = document.querySelector(".circular-progress");
        let valueContainer = document.querySelector(".value-container");

        let progressValue = -1;
        let progressEndValue = "{{att_per}}";
        let speed = 20;

        let progress = setInterval(() => {
            progressValue++;
            valueContainer.textContent = `${progressValue}%`;
            progressBar.style.background = `conic-gradient(
                #43eca0 ${progressValue * 3.6 }deg,
                #eaeced ${progressValue * 3.6 }deg
                )`;
            if (progressValue == progressEndValue) {
                clearInterval(progress)
            }

        },speed);

    </script>

{% endblock scr%}