{% extends "admin/admin-home.html" %}

{% block page %} 

<center>
    {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}} mt-2">
              {{ message }}
          </div>
          {% endfor %}
   {% endif %}
   <h5 class="mb-3" style="color: #e43c5c;">Regular Attendance Missing </h5>

    <form method="POST" class="mt-2">
        {% csrf_token %}
        <select name="filter" class="dropdown-style">
            <option value="today" {% if filter == 'today'%}selected{% endif %}>Today</option>
            <option value="month"{% if filter == 'month'%}selected{% endif %}>This Month</option>
            <option value="all" {% if filter == 'all'%}selected{% endif %}>All</option>
        </select>
        <button type="submit" class="custom-style-button" style="border-radius:20px" >Show</button>
    </form>
</center>

<div class="row mr-auto mb-3"><a href="{% url 'exit_tme_missing' %}" class=" ml-auto custom-style-button" style="border-radius: 20px"><i class="bi bi-calendar-check"></i> Exit Unmarked</a></div>

{% if attendance|length > 0 %}
        <div >
        <table class="jtable" id='tableid2'>
            <thead>
                <th>Employee</th>
                <th>Date</th>
                <th>Entry Time</th>
                <th>Exit Time</th>
                <th>Shift</th>
                <th>Leave</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for attendance in attendance %}
                <tr>
                    <td>
                        <a href="/media/{{ attendance.user.employeeprofile.photo }}"><img src="{{ attendance.user.employeeprofile.photo.url }}" class="rounded-circle mr-1"  width="40px" height="40px"> </a> 

                        <a href="{% url 'employee_detail' attendance.user.pk %}"><b>{{ attendance.user.first_name|title}} {{ attendance.user.middle_name|title}} {{ attendance.user.last_name|title}}</b></a>
                    </td>

                    <td> {{ attendance.attendance_date }}</td>

                    <td>
                        {% if attendance.entry_time == None %}
                        <div style="color: #e43c5c;">Missing</div>
                        {% else %}
                        {{ attendance.entry_time }}
                        {% endif %}
                    </td>

                    <td>
                        {% if attendance.exit_time == None %}
                        <div style="color: #e43c5c;">Missing</div>
                        {% else %}
                        {{ attendance.exit_time }}
                        {% endif %}
                    </td>

                    <td>{{ attendance.shift|title}}</td>  
                    
                    {% if attendance.leave == True %}
                        <td><div class="bg-success" style="display:inline-block; padding:0.1rem 0.25rem;border-radius: 0.2rem;">
                                    Applied
                        </div></td>
  
                    {% elif attendance.leave == False %}
                        <td><div class="bg-danger" style="display:inline-block; padding:0.1rem 0.25rem;border-radius: 0.2rem;">
                                Not Applied
                        </div></td>
                    {% endif %}

                    {% if attendance.leave == False %}
                    <td>
                        <div style="font-size: 1.6rem; color: #e43c5c;" ><a href="{% url 'admin_leave_apply' attendance.pk %}"><i class="bi bi-calendar2-minus"></i></a></div>
                    </td>
                    {% endif %}

                    {% if attendance.leave == True %}
                    <td>
                        <div style="font-size: 1.6rem; color: #0ccc19;" ><i class="bi bi-check-circle"></i></div>
                    </td>
                    {% endif %}

              </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>
{%else%}
        <center>
            <p class="alert alert-info mt-5"> No Unmarked Attendance </p>
        </center>
{% endif %}


{% endblock page %}

