{% extends "admin/admin-home.html" %}

{% block page %} 
<center>
    <h5 class="mb-3" style="color: #e43c5c;">Leave Details</h5>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} mt-2">
        {{ message }}
    </div>
    {% endfor %}
      {% endif %}


      <form method="POST" class="mt-2">
        {% csrf_token %}
        <select name="filter" class="dropdown-style">
            <option value="month"{% if filter == 'month'%}selected{% endif %}>This Month</option>
            <option value="all" {% if filter == 'all'%}selected{% endif %}>All</option>
        </select>
        <button type="submit" class="custom-style-button" style="border-radius:20px" >Show</button>
    </form>

</center>



{% if leaves|length > 0 %}
        <table id='tableid2' class="jtable">
            <thead>
                <th>Employee</th>
                <th>Department</th>
                <th>Leave Type</th>
                <th>From</th>
                <th>From Session</th>
                <th>To</th>
                <th>To Session</th> 
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for leave in leaves %}
                <tr>
                    <td>
                        <a href="/media/{{ leave.user.employeeprofile.photo }}"><img src="{{ leave.user.employeeprofile.photo.url }}" class="rounded-circle mr-1"  width="40px" height="40px"> </a> 

                        <a href="{% url 'employee_detail' leave.user.pk %}"><b>{{ leave.user.first_name|title}} {{ leave.user.middle_name|title}} {{ leave.user.last_name|title}}</b></a>
                    </td>
                    {% for object in obj %} 
                    {% if object.user == leave.user %}

                    <td>{{ object.department }}</td>    

                    {% endif %}
                    {%endfor %}

                    <td>{{ leave.leave_type|title }}</td>
                    <td>{{ leave.from_date }}</td>
                    <td>{{ leave.from_session|title}}</td>
                    <td>{{ leave.to_date }}</td>
                    <td>{{ leave.to_session|title}}</td>

                    <!-- for status colors  -->
                        {% if leave.approval == 'approved' %}
                        <td><div class="bg-success" style="display:inline-block; padding:0.1rem 0.25rem;border-radius: 0.2rem;">
                                    {{leave.approval|title}}
                            </div>
                        </td>
                        {% elif leave.approval == 'rejected' %}
                        <td><div class="bg-danger" style="display:inline-block; padding:0.1rem 0.25rem;border-radius: 0.2rem;">
                                    {{leave.approval|title}}
                            </div>
                        </td>
                        {% else %}
                        <td><div class="bg-warning" style="display:inline-block; padding:0.1rem 0.25rem;border-radius: 0.2rem;">
                            {{leave.approval|title}}
                        </div>
                        </td>
                        {% endif %}


                 <td><a href="{% url 'admin_leave_detail' leave.pk %}"class="custom-style-button">Details</a></td>
                </tr>

                {% endfor %} 
            </tbody>
        </table>
{% else %}
<center>
    <p class="alert alert-info mt-5"> No Leave Requests </p>
</center>
{% endif %}

{% endblock page %}

