{% extends "admin/admin-home.html" %}
{% load crispy_forms_tags %}
{% block page %} 
<center>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} mt-2">
        {{ message }}
    </div>
    {% endfor %}
      {% endif %}
    <h5 style="color: #e43c5c;">Add Attendance</h5>
    </center>
    <div class="d-flex flex-column align-items-center">
        <div class="col-md-6 mt-2" >
            <form method="POST" class="pl-5 pr-5 pt-3 pb-3" style=" box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                {% csrf_token %}
            {{ form | crispy }}
            <center>
            <button type="submit" class="custom-style-button">Add</button>
        </center>
        </form>
        </div>
    </div>
{% endblock page %}

