{% extends "admin/admin-home.html" %}

{% block page %} 
<center>
    <!-- start messages  -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} mt-2">
        {{ message }}
    </div>
    {% endfor %}
      {% endif %}            
     <!-- end messages  -->
    </center>

  <!-- add employee  -->
    <div class="row mr-auto mb-3"><a href="{% url 'add_employee' %}" class=" ml-auto custom-style-button" style="border-radius: 20px"><i class="bi bi-person-plus-fill"></i> Add Employee</a></div>

{% if employees|length > 0 %}
        <table class="jtable" id='tableid1'>
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>ID</th>
                <th>Gender</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>
                        {% if employee.employeeprofile %}
                        <a href="/media/{{ employee.employeeprofile.photo }}"><img src="{{ employee.employeeprofile.photo.url }}" class="rounded-circle mr-1"  width="40px" height="40px"> </a> 
                        {% endif %}

                         <b>{{employee.first_name|title }} {{ employee.middle_name|title }} {{ employee.last_name|title }}</b>
                    </td>
                    <td>{{ employee.email}}</td>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.employeeprofile.gender|title }}</td>

                    <!-- getting the dept and designation from employeedesignation table  -->

                    {% for object in obj %} 
                    {% if object.user == employee %}

                    <td>{{ object.designation }}</td>
                    <td>{{ object.department }}</td>    

                    {% endif %}
                    {%endfor %}

                    <td><a href="{% url 'employee_detail' employee.pk %}"class="custom-style-button">View</i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{%else%}
        <center>
            <p class="alert alert-info mt-5"> No Employees Registered </p>
        </center>
{% endif %}

{% endblock page %}

